<a href="https://colab.research.google.com/github/cyj4329/Class2022Spring/blob/main/20220328.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install gradio
import gradio as gr
import requests
import pandas as pd

In [37]:
URL = ('http://apis.data.go.kr/1613000/SubwayInfoService/getSubwaySttnExitAcctoBusRouteList?serviceKey=E1XYWBwFtTw7G8zH6gIvwYGDXF6%2FFreBJSjEC6aQR8V%2Fy3TF5NwNMKTRv3%2BLJXXN5XomEroZ0EaAkyVounI3zQ%3D%3D&subwayStationId=MTRS11133&numOfRows=10&pageNo=1&_type=json')
response = requests.get(URL)

In [40]:
response

In [41]:
r = response.json()
r

{'response': {'body': {'items': {'item': [{'busRouteNo': 1000, 'exitNo': 2},
     {'busRouteNo': 1100, 'exitNo': 2},
     {'busRouteNo': 1101, 'exitNo': 2},
     {'busRouteNo': 1200, 'exitNo': 2},
     {'busRouteNo': 1300, 'exitNo': 2},
     {'busRouteNo': 1301, 'exitNo': 2},
     {'busRouteNo': 1302, 'exitNo': 2},
     {'busRouteNo': 1400, 'exitNo': 2},
     {'busRouteNo': 1500, 'exitNo': 2},
     {'busRouteNo': 1501, 'exitNo': 2}]},
   'numOfRows': 10,
   'pageNo': 1,
   'totalCount': 210},
  'header': {'resultCode': '00', 'resultMsg': 'NORMAL SERVICE.'}}}

In [42]:
print(type(r))

<class 'dict'>

In [46]:
items = r['response']['body']['items']['item']
items

[{'busRouteNo': 1000, 'exitNo': 2},
 {'busRouteNo': 1100, 'exitNo': 2},
 {'busRouteNo': 1101, 'exitNo': 2},
 {'busRouteNo': 1200, 'exitNo': 2},
 {'busRouteNo': 1300, 'exitNo': 2},
 {'busRouteNo': 1301, 'exitNo': 2},
 {'busRouteNo': 1302, 'exitNo': 2},
 {'busRouteNo': 1400, 'exitNo': 2},
 {'busRouteNo': 1500, 'exitNo': 2},
 {'busRouteNo': 1501, 'exitNo': 2}]

In [47]:
busRouteNo = [item['busRouteNo'] for item in items]
exitNo = [item['exitNo'] for item in items]

busRouteNo = pd.Series(busRouteNo)
exitNo = pd.Series(exitNo)

df= pd.DataFrame({'busRouteNo':busRouteNo, 'exitNo':exitNo})
df

   busRouteNo  exitNo
0        1000       2
1        1100       2
2        1101       2
3        1200       2
4        1300       2
5        1301       2
6        1302       2
7        1400       2
8        1500       2
9        1501       2

In [48]:
def test(input_data):
  URL=('http://apis.data.go.kr/1613000/SubwayInfoService/getSubwaySttnExitAcctoBusRouteList?serviceKey=E1XYWBwFtTw7G8zH6gIvwYGDXF6%2FFreBJSjEC6aQR8V%2Fy3TF5NwNMKTRv3%2BLJXXN5XomEroZ0EaAkyVounI3zQ%3D%3D&subwayStationId=MTRS11133&numOfRows=10&pageNo=1&_type=json')
  response=requests.get(URL)
  r=response.json()
  items=r['response']['body']['items']['item']
  
  busRouteNo = [item['busRouteNo'] for item in items]
  exitNo = [item['exitNo'] for item in items]
  
  busRouteNo = pd.Series(busRouteNo)
  exitNo = pd.Series(exitNo)

  df=pd.DataFrame({'busRouteNo':busRouteNo, 'exitNo':exitNo})
  return df

In [ ]:
iface = gr.Interface(test,gr.inputs.Dropdown(['지하철역 출구번호']), outputs=['dataframe'])
iface.launch(debug=True)

Colab notebook detected. This cell will run indefinitely so that you can see errors and logs. To turn off, set debug=False in launch().
Running on public URL: https://43115.gradio.app

This share link expires in 72 hours. For free permanent hosting, check out Spaces (https://huggingface.co/spaces)